#root,
html,
body {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.htmlScreen iframe {
  width: 425px;
  height: 600px;
  border: none;
  background: #000000;
}

.htmlScreen2 iframe,
.htmlScreen3 iframe {
  width: 625px;
  height: 410px;
  border: none;
  background: #000000;
}

.load {
  font-family: "Ubuntu", sans-serif;
  font-size: larger;
}

.htmlScreen4 iframe {
  width: 210px;
  height: 140px;
}