#root,
html,
body {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.htmlScreen iframe {
  width: 395px;
  height: 585px;
  border: none;
  background: #000000;
}

.htmlScreen2 iframe {
  width: 595px;
  height: 380px;
  border: none;
  background: #000000;
}

.htmlScreen3 iframe {
  width: 595px;
  height: 380px;
  border: none;
  background: #000000;
}